{% extends 'core/base.html' %}
{% load static %}
{% block title %}Guardianes{% endblock %}
{% block content %}
<div class="container gallery-container">
	<hr>
	<h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">Guardianes</h1>
	<hr class="mt-2 mb-0">
	<div class="tz-gallery">
	  <div class="row text-center text-lg-left">
	    <div class="col-md-4">
	        <a href="{% static 'core/img/guardianes/1 g (2).jpg' %}" class="lightbox">
	          <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (2).jpg' %}" alt="" >
	        </a>
	      </div>
	      <div class="col-md-4">
	        <a href="{% static 'core/img/guardianes/1 g (3).jpg' %}" class="lightbox">
	          <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (3).jpg' %}" alt="">
	        </a>
	      </div>
	      <div class="col-md-4">
	        <a href="{% static 'core/img/guardianes/1 g (4).jpg' %}" class="lightbox">
	          <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (4).jpg' %}" alt="">
	        </a>
	      </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (5).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (5).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (6).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (6).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (7).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (7).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="img/guardianes/1 g (8).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (8).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (9).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (9).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (10).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (10).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (11).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (11).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (12).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (12).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (13).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (13).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (14).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (14).jpg' %}" alt="">
	      </a>
	    </div>
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (15).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (15).jpg' %}" alt="">
	      </a>
	    </div> 
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (16).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (16).jpg' %}" alt="">
	      </a>
	    </div>  
	    <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (17).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (17).jpg' %}" alt="">
	      </a>
	    </div> 
	  <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (18).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (18).jpg' %}" alt="">
	      </a>        
	  </div>
	  <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (19).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (19).jpg' %}" alt="">
	      </a>        
	  </div>
	  <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (20).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (20).jpg' %}" alt="">
	      </a>        
	  </div>
	  <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (21).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (21).jpg' %}" alt="">
	      </a>        
	  </div>
	  <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (22).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (22).jpg' %}" alt="">
	      </a>        
	  </div>
	  <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1 g (23).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1 g (23).jpg' %}" alt="">
	      </a>        
	  </div>
	  <div class="col-md-4">
	      <a href="{% static 'core/img/guardianes/1-g-(1).jpg' %}" class="lightbox">
	        <img class="card-img-top" src="{% static 'core/img/guardianes/1-g-(1).jpg' %}" alt="">
	      </a>        
	  </div>
	</div>
</div>

{% endblock %}