{% extends 'core/base.html' %}
{% load static %}
{% block title %}Hijos de luz y tierra{% endblock %}

{% block header %}
<header>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner" role="listbox">
	    <!-- Slide One - Set the background image for this slide in the line below -->
	    <div class="carousel-item active" style="background-image: url('{% static 'core/img/img0133.png' %}')">
	      <div class="carousel-caption d-none d-md-block">
	        <h2 class="display-4"></h2>
	        <p class="lead"></p>
	      </div>
	    </div>
	    <div class="carousel-item" style="background-image: url('{% static 'core/img/guardianes/1-g-(1).jpg' %}')">
	      <div class="carousel-caption d-none d-md-block">
	        <h2 class="display-4"></h2>
	        <p class="lead"></p>
	      </div>
	    </div>
	    <div class="carousel-item" style="background-image: url('{% static 'core/img/calendarios/2019/portada huracanes.jpg' %}')">
	      <div class="carousel-caption d-none d-md-block">
	        <h2 class="display-4"></h2>
	        <p class="lead"></p>
	      </div>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	        <span class="sr-only">Previous</span>
	      </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	        <span class="carousel-control-next-icon" aria-hidden="true"></span>
	        <span class="sr-only">Next</span>
	      </a>
	</div>
</header>
{% endblock %}

{% block content %}
<section class="py-5">
	<div class="container">
	  <h1 class="display-4">Contacto</h1>
	  <p class="lead">La información aqui expresada es producto  del estudio, del analisis, de la investigación,<br>
	   de la experimentación y de la revelación. Solo el tiempo podrá verificarla y comprobarla cientificamente<br>
	   Email: el.laguardianes@gmail.com
	  </p>
	</div>
</section>
{% endblock %}

