{% extends 'core/base.html' %}
{% load static %}
{% block title %}Calendario 2014{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-10 mb-0">Calendario 2014</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2014/1-aportada.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2014/1-aportada.jpg' %}" alt="" >
            </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/1-enero.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/1-enero.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/2-febrero.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/2-febrero.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/3-marzo.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/3-marzo.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/4-abril.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/4-abril.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/5-mayo.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/5-mayo.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/6-junio.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/6-junio.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/7-justo.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/7-justo.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/8-julio.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/8-julio.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/9-agosto.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/9-agosto.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/10-septiembre.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/10-septiembre.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/11-octubre.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/11-octubre.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/12-noviembre.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/12-noviembre.jpg' %}' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/13-diciembre.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/13-diciembre.jpg' %}" alt="">
          </a>
        </div> 
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/14-contraportada.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/14-contraportada.jpg' %}" alt="">
          </a>
        </div>           
      </div>
    </div>
  </div>

{% endblock %}