{% extends 'core/base.html' %}
{% load static %}
{% block title %}Calendario 2013{% endblock %}
{% block content %}

  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">Calendario 2013</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(1).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(1).jpg' %}" alt="" >
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(2).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(2).jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(2).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(3).jpg' %}" alt="">
            </a>
          </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(4).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(4).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(5).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(5).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(6).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(6).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(7).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(7).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(8).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(8).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(9).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(9).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(10).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(10).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(11).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(11).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(12).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(12).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(13).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(13).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(14).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(14).jpg' %}" alt="">
          </a>
        </div> 
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/1-13-aportada-(15).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1-13-aportada-(15).jpg' %}" alt="">
          </a>
        </div>           
      </div>
    </div>
  </div>

{% endblock %}
 }
