{% extends 'core/base.html' %}
{% load static %}
{% block title %}Calendario 2014{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-10 mb-0">Calendario 2014</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2014/0 portada 2015.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2014/0 portada 2015.jpg' %}" alt="" >
            </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/1 enero 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/1 enero 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/2 febrero 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/2 febrero 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/3 marzo 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/3 marzo 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/4 abril 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/4 abril 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/5 mayo 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/5 mayo 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/6 junio 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/6 junio 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/7 justo 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/7 justo 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/8 julio 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/8 julio 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/9 agosto 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/9 agosto 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/10 septiembre 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/10 septiembre 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/11 octubre 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/11 octubre 2015.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/12 noviembre 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/12 noviembre 2015.jpg' %}' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/13 diciembre 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/13 diciembre 2015.jpg' %}" alt="">
          </a>
        </div> 
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2014/contraportada 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2014/contraportada 2015.jpg' %}" alt="">
          </a>
        </div>           
      </div>
    </div>
  </div>

{% endblock %}