{% extends 'core/base.html' %}
{% load static %}
{% block title %}Calendario 2015{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-10 mb-0">Calendario 2015</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2015/1 enero alimentos.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2015/1 enero alimentos.jpg' %}" alt="" >
            </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/2 febrero alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/2 febrero alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/3 marzo alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/3 marzo alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/4 abril alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/4 abril alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/5 mayo alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/5 mayo alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/7 justo alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/7 justo alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/8 julio alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/8 julio alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/9 agosto alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/9 agosto alimentos.jpg' %}" alt="">
          </a>
        </div>

        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/10 septiembre alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/10 septiembre alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/11 octubre alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/11 octubre alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/12 noviembre alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/12 noviembre alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/13 diciembre alimentos.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/13 diciembre alimentos.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2015/CONTRAPORTADA alimentos 2015.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2015/CONTRAPORTADA alimentos 2015.jpg' %}" alt="">
          </a>
        </div>          
      </div>
    </div>
  </div>

{% endblock %}