{% extends 'core/base.html' %}
{% load static %}
{% block title %}Calendario 2019{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-10 mb-0">Calendario 2019</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2019/portada huracanes.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2019/portada huracanes.jpg' %}" alt="" >
            </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/1enero huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/1enero huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/2febrero huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/2febrero huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/3marzo huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/3marzo huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/4abril huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/4abril huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/5mayo huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/5mayo huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/6junio huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/6junio huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/7justo huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/7justo huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/8julio huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/8julio huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/9agosto huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/9agosto huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/10septiembre huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/10septiembre huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/11octubre huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/11octubre huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/12noviembre huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/12noviembre huracanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/13diciembre huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/13diciembre huracanes.jpg' %}" alt="">
          </a>
        </div> 
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2019/CONTRAPORTADA huracanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2019/CONTRAPORTADA huracanes.jpg' %}" alt="">
          </a>
        </div>          
      </div>
    </div>
  </div>

{% endblock %}