{% extends 'core/base.html' %}
{% load static %}
{% block title %}Calendario 2013{% endblock %}
{% block content %}

  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-10 mb-0">Calendario 2013</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2013/11.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2013/11.jpg' %}" alt="" >
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2013/1 enero 2013.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2013/1 enero 2013.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2013/2 febrero 2013.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2013/2 febrero 2013.jpg' %}" alt="">
            </a>
          </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/3 marzo 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/3 marzo 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/4 abril 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/4 abril 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/5 mayo 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/5 mayo 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/6 junio 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/6 junio 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/7 justo 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/7 justo 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/8 julio 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/8 julio 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/9 agosto 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/9 agosto 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/10 septiembre 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/10 septiembre 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/11 octubre 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/11 octubre 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/12 noviembre 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/12 noviembre 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/13 diciembre 2013.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/13 diciembre 2013.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2013/14.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2013/14.jpg' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
