{% extends 'core/base.html' %}
{% load static %}
{% block title %}Calendario 2017{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-10 mb-0">Calendario 2017</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2017/portadas volcanes 2017.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2017/portadas volcanes 2017.jpg' %}" alt="" >
            </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/1 enero volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/1 enero volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/2 febrero volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/2 febrero volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/3 marzo volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/3 marzo volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/4 abril volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/4 abril volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/5 mayo volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/5 mayo volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/6 junio volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/6 junio volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/7 justo volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/7 justo volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/8 julio volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/8 julio volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/9 agosto volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/9 agosto volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/10 septiembre volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/10 septiembre volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/11 octubre volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/11 octubre volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/12 noviembre volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/12 noviembre volcanes.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2017/13 diciembre volcanes.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2017/13 diciembre volcanes.jpg' %}" alt="">
          </a>
        </div>          
      </div>
    </div>
  </div>

{% endblock %}