{% extends 'core/base.html' %}
{% load static %}
{% block title %}Calendario 2016{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">Calendario 2016</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2016/portada fallas 1.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2016/portada fallas 1.jpg' %}" alt="" >
            </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/1 enero fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/1 enero fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/2 febrero fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/2 febrero fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/3 marzo fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/3 marzo fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/4 abril fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/4 abril fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/5 mayo fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/5 mayo fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/6 junio fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/6 junio fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/7 justo fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/7 justo fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/8 julio fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/8 julio fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/9 agosto fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/9 agosto fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/10 septiembre fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/10 septiembre fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/11 octubre fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/11 octubre fallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/12 noviembre vallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/12 noviembre vallas.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2016/13 diciembre fallas.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2016/13 diciembre fallas.jpg' %}" alt="">
          </a>
        </div>          
      </div>
    </div>
  </div>

{% endblock %}