{% extends 'core/base.html' %}
{% load static %}
{% block title %}Calendario 2018{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">Calendario 2018</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/calendarios/2018/portada bosques 1.jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/calendarios/2018/portada bosques 1.jpg' %}" alt="" >
            </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/1 enero bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/1 enero bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/2 febrero bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/2 febrero bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/3 marzo bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/3 marzo bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/4 abril bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/4 abril bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/5 mayo bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/5 mayo bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/6 junio bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/6 junio bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/7 justo bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/7 justo bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/8 julio bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/8 julio bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/9 agosto bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/9 agosto bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/10 septiembre bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/10 septiembre bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/11 octubre bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/11 octubre bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/12 noviembre bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/12 noviembre bosques.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/calendarios/2018/13 diciembre bosques.jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/calendarios/2018/13 diciembre bosques.jpg' %}" alt="">
          </a>
        </div>          
      </div>
    </div>
  </div>

{% endblock %}