{% extends 'core/base.html' %}
{% load static %}
{% block title %}el-la{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-10 mb-0">El - LA</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/el-la/el-la/1el (1).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/el-la/el-la/1el (1).jpg' %}" alt="" >
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/el-la/el-la/1el (2).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/el-la/el-la/1el (2).jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/el-la/el-la/1el (3).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/el-la/el-la/1el (3).jpg' %}" alt="">
            </a>
          </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/el-la/1el (4).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/el-la/1el (4).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/el-la/1el (5).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/el-la/1el (5).jpg' %}" alt="">
          </a>
        </div>    
      </div>
    </div>
  </div>

{% endblock %}