{% extends 'core/base.html' %}
{% load static %}
{% block title %}Mujer unipolar{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">Mujer unipolar</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/el-la/mujer unipolar/1 u (1).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/el-la/mujer unipolar/1 u (1).jpg' %}" alt="" >
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/el-la/mujer unipolar/1 u (5).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/el-la/mujer unipolar/1 u (5).jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/el-la/mujer unipolar/1 u (6).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/el-la/mujer unipolar/1 u (6).jpg' %}"  alt="">
            </a>
          </div>
        <div class="col-md-4"> 
          <a href="{% static 'core/img/el-la/mujer unipolar/1 u (7).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/mujer unipolar/1 u (7).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/mujer unipolar/1 u (8).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/mujer unipolar/1 u (8).jpg' %}" alt="">
          </a>
        </div> 
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/mujer unipolar/1-u-(2).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/mujer unipolar/1-u-(2).jpg' %}" alt="">
          </a>
        </div>  
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/mujer unipolar/1-u-(3).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/mujer unipolar/1-u-(3).jpg' %}" alt="">
          </a>
        </div> 
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/mujer unipolar/1-u-(4).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/mujer unipolar/1-u-(4).jpg' %}" alt="">
          </a>
        </div>                  
      </div>
    </div>
  </div>
{% endblock %}