{% extends 'core/base.html' %}
{% load static %}
{% block title %}Sistema solar{% endblock %}
{% block content %}
  <div class="container gallery-container">
    <hr>
    <h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">Sistema solar</h1>
    <hr class="mt-2 mb-0">
    <div class="tz-gallery">
      <div class="row text-center text-lg-left">
        <div class="col-md-4">
            <a href="{% static 'core/img/el-la/sistema solar/1 ss (1).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/el-la/sistema solar/1 ss (1).jpg' %}" alt="" >
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/el-la/sistema solar/1 ss (2).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/el-la/sistema solar/1 ss (2).jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static 'core/img/el-la/sistema solar/1 ss (3).jpg' %}" class="lightbox">
              <img class="card-img-top" src="{% static 'core/img/el-la/sistema solar/1 ss (3).jpg' %}"  alt="">
            </a>
          </div>
        <div class="col-md-4"> 
          <a href="{% static 'core/img/el-la/sistema solar/1 ss (4).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/sistema solar/1 ss (4).jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/sistema solar/1 ss (5).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/sistema solar/1 ss (5).jpg' %}" alt="">
          </a>
        </div> 
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/sistema solar/1 ss (6).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/sistema solar/1 ss (6).jpg' %}" alt="">
          </a>
        </div>  
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/sistema solar/1 ss (7).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/sistema solar/1 ss (7).jpg' %}" alt="">
          </a>
        </div> 
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/sistema solar/1 ss (8).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/sistema solar/1 ss (8).jpg' %}" alt="">
          </a>
        </div>    
        <div class="col-md-4">
          <a href="{% static 'core/img/el-la/sistema solar/1 ss (9).jpg' %}" class="lightbox">
            <img class="card-img-top" src="{% static 'core/img/el-la/sistema solar/1 ss (9).jpg' %}" alt="">
          </a>
        </div>                  
      </div>
    </div>
  </div>
{% endblock %}